{% extends "index.html" %} {% block content %}
{% for job in jobs %}
<table align="center">
    <tr>
        <th>Title of activity</th>
        <th>Team leader</th>
        <th>Duration</th>
        <th>List of collaborators</th>
        <th>Is finished</th>
    </tr>
    <tr>
        <td>{{job.job}}</td>
        <td>{{job.name}}</td>
        <td>{{job.work_size}}</td>
        <td>{{job.collaborators}}</td>
        <td class="pink">{{job.is_finished}}</td>
    </tr>
</table>
{% endfor %}
{% endblock %}